In [84]:
import pandas as pd
import numpy as np

#READING THE DATA
df=pd.read_csv("imports-85.data", header=None)
# df.info()
# df.columns
#CHANGING COLUMN NAMES
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]
df.columns=headers
# df.columns
# df['price']
# df.head(13)
# df['price'].head()
# df[['make', 'body-style', 'price']]
x=df[['peak-rpm','city-mpg','highway-mpg','price']]
# x.head()
# df['price'].dtype

In [85]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [86]:
df.to_csv('cleaned_data.csv')

In [87]:
import numpy as np
df.replace("?",np.nan, inplace=True)
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [88]:
df.isnull().sum()
df.isnull().sum().sum()

np.int64(59)

In [89]:
df['normalized-losses'].dtype

dtype('O')

In [90]:
df['normalized-losses']=df['normalized-losses'].astype('float')

In [91]:
df['normalized-losses'].dtype

dtype('float64')

In [92]:
df.dtypes

symboling              int64
normalized-losses    float64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [93]:
df[["bore"]] = df[["bore"]].astype("float")
df[["normalized-losses"]] = df[["normalized-losses"]].astype("float")
df[["price"]] = df[["price"]].astype("float")
df[["peak-rpm"]] = df[["peak-rpm"]].astype("float")

df[["stroke"]]=df[["stroke"]].astype("float")
df[["horsepower"]]=df[["horsepower"]].astype("float")

In [94]:
avg1=df['normalized-losses'].mean()
df['normalized-losses'].replace(np.nan,avg1,inplace=True)

C:\Users\S4008771\AppData\Local\Temp\ipykernel_19292\1925007897.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['normalized-losses'].replace(np.nan,avg1,inplace=True)

In [95]:
df['normalized-losses']

0      122.0
1      122.0
2      122.0
3      164.0
4      164.0
       ...
200     95.0
201     95.0
202     95.0
203     95.0
204     95.0
Name: normalized-losses, Length: 205, dtype: float64

In [96]:
df['normalized-losses'].isnull().sum()

np.int64(0)

In [97]:
df['num-of-doors'].value_counts()

num-of-doors
four    114
two      89
Name: count, dtype: int64

In [98]:
df['num-of-doors'].replace(np.nan,'four',inplace=True)

C:\Users\S4008771\AppData\Local\Temp\ipykernel_19292\1957564764.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['num-of-doors'].replace(np.nan,'four',inplace=True)

In [99]:
x=np.mean(df["bore"])
df["bore"].replace(np.nan,x,inplace=True)
df["bore"].isnull().sum()

C:\Users\S4008771\AppData\Local\Temp\ipykernel_19292\2444859577.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["bore"].replace(np.nan,x,inplace=True)

np.int64(0)

In [100]:
df["stroke"].replace(np.nan,np.mean(df["stroke"]),inplace=True)
df["stroke"].isnull().sum()

C:\Users\S4008771\AppData\Local\Temp\ipykernel_19292\110345789.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["stroke"].replace(np.nan,np.mean(df["stroke"]),inplace=True)

np.int64(0)

In [101]:
df["horsepower"].replace(np.nan,np.mean(df["horsepower"]),inplace=True)
df["horsepower"].isnull().sum()

C:\Users\S4008771\AppData\Local\Temp\ipykernel_19292\2243135930.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["horsepower"].replace(np.nan,np.mean(df["horsepower"]),inplace=True)

np.int64(0)

In [102]:
df.shape

(205, 26)

In [103]:
df.dropna(subset=["price"],axis=0,inplace=True)

In [104]:
df['price'].isnull().sum()

np.int64(0)

In [105]:
df.reset_index(drop=True,inplace=True)

In [106]:
df.tail

<bound method NDFrame.tail of      symboling  normalized-losses         make fuel-type aspiration  \
0            3              122.0  alfa-romero       gas        std
1            3              122.0  alfa-romero       gas        std
2            1              122.0  alfa-romero       gas        std
3            2              164.0         audi       gas        std
4            2              164.0         audi       gas        std
..         ...                ...          ...       ...        ...
196         -1               95.0        volvo       gas        std
197         -1               95.0        volvo       gas      turbo
198         -1               95.0        volvo       gas        std
199         -1               95.0        volvo    diesel      turbo
200         -1               95.0        volvo       gas      turbo

    num-of-doors   body-style drive-wheels engine-location  wheel-base  ...  \
0            two  convertible          rwd           front        88.6  ...
1            two  convertible          rwd           front        88.6  ...
2            two    hatchback          rwd           front        94.5  ...
3           four        sedan          fwd           front        99.8  ...
4           four        sedan          4wd           front        99.4  ...
..           ...          ...          ...             ...         ...  ...
196         four        sedan          rwd           front       109.1  ...
197         four        sedan          rwd           front       109.1  ...
198         four        sedan          rwd           front       109.1  ...
199         four        sedan          rwd           front       109.1  ...
200         four        sedan          rwd           front       109.1  ...

     engine-size  fuel-system  bore  stroke compression-ratio horsepower  \
0            130         mpfi  3.47    2.68               9.0      111.0
1            130         mpfi  3.47    2.68               9.0      111.0
2            152         mpfi  2.68    3.47               9.0      154.0
3            109         mpfi  3.19    3.40              10.0      102.0
4            136         mpfi  3.19    3.40               8.0      115.0
..           ...          ...   ...     ...               ...        ...
196          141         mpfi  3.78    3.15               9.5      114.0
197          141         mpfi  3.78    3.15               8.7      160.0
198          173         mpfi  3.58    2.87               8.8      134.0
199          145          idi  3.01    3.40              23.0      106.0
200          141         mpfi  3.78    3.15               9.5      114.0

     peak-rpm city-mpg  highway-mpg    price
0      5000.0       21           27  13495.0
1      5000.0       21           27  16500.0
2      5000.0       19           26  16500.0
3      5500.0       24           30  13950.0
4      5500.0       18           22  17450.0
..        ...      ...          ...      ...
196    5400.0       23           28  16845.0
197    5300.0       19           25  19045.0
198    5500.0       18           23  21485.0
199    4800.0       26           27  22470.0
200    5400.0       19           25  22625.0

[201 rows x 26 columns]>

In [107]:
df['city-L/100km'] = 235/df["city-mpg"]

In [108]:
df['city-L/100km']

0      11.190476
1      11.190476
2      12.368421
3       9.791667
4      13.055556
         ...
196    10.217391
197    12.368421
198    13.055556
199     9.038462
200    12.368421
Name: city-L/100km, Length: 201, dtype: float64

In [109]:
df.head

<bound method NDFrame.head of      symboling  normalized-losses         make fuel-type aspiration  \
0            3              122.0  alfa-romero       gas        std
1            3              122.0  alfa-romero       gas        std
2            1              122.0  alfa-romero       gas        std
3            2              164.0         audi       gas        std
4            2              164.0         audi       gas        std
..         ...                ...          ...       ...        ...
196         -1               95.0        volvo       gas        std
197         -1               95.0        volvo       gas      turbo
198         -1               95.0        volvo       gas        std
199         -1               95.0        volvo    diesel      turbo
200         -1               95.0        volvo       gas      turbo

    num-of-doors   body-style drive-wheels engine-location  wheel-base  ...  \
0            two  convertible          rwd           front        88.6  ...
1            two  convertible          rwd           front        88.6  ...
2            two    hatchback          rwd           front        94.5  ...
3           four        sedan          fwd           front        99.8  ...
4           four        sedan          4wd           front        99.4  ...
..           ...          ...          ...             ...         ...  ...
196         four        sedan          rwd           front       109.1  ...
197         four        sedan          rwd           front       109.1  ...
198         four        sedan          rwd           front       109.1  ...
199         four        sedan          rwd           front       109.1  ...
200         four        sedan          rwd           front       109.1  ...

     fuel-system  bore  stroke  compression-ratio horsepower peak-rpm  \
0           mpfi  3.47    2.68                9.0      111.0   5000.0
1           mpfi  3.47    2.68                9.0      111.0   5000.0
2           mpfi  2.68    3.47                9.0      154.0   5000.0
3           mpfi  3.19    3.40               10.0      102.0   5500.0
4           mpfi  3.19    3.40                8.0      115.0   5500.0
..           ...   ...     ...                ...        ...      ...
196         mpfi  3.78    3.15                9.5      114.0   5400.0
197         mpfi  3.78    3.15                8.7      160.0   5300.0
198         mpfi  3.58    2.87                8.8      134.0   5500.0
199          idi  3.01    3.40               23.0      106.0   4800.0
200         mpfi  3.78    3.15                9.5      114.0   5400.0

     city-mpg highway-mpg    price  city-L/100km
0          21          27  13495.0     11.190476
1          21          27  16500.0     11.190476
2          19          26  16500.0     12.368421
3          24          30  13950.0      9.791667
4          18          22  17450.0     13.055556
..        ...         ...      ...           ...
196        23          28  16845.0     10.217391
197        19          25  19045.0     12.368421
198        18          23  21485.0     13.055556
199        26          27  22470.0      9.038462
200        19          25  22625.0     12.368421

[201 rows x 27 columns]>

In [110]:
df[['city-mpg', 'city-L/100km']]
df["highway-L/100km"] = 235/df["highway-mpg"]

In [111]:
df.drop(["city-mpg"],axis=1,inplace=True)
df.drop(["highway-mpg"],axis=1,inplace=True)

In [112]:
df.shape

(201, 26)

In [113]:
df.rename(columns={"num-of-doors":"doors"},inplace=True)

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          201 non-null    int64
 1   normalized-losses  201 non-null    float64
 2   make               201 non-null    object
 3   fuel-type          201 non-null    object
 4   aspiration         201 non-null    object
 5   doors              201 non-null    object
 6   body-style         201 non-null    object
 7   drive-wheels       201 non-null    object
 8   engine-location    201 non-null    object
 9   wheel-base         201 non-null    float64
 10  length             201 non-null    float64
 11  width              201 non-null    float64
 12  height             201 non-null    float64
 13  curb-weight        201 non-null    int64
 14  engine-type        201 non-null    object
 15  num-of-cylinders   201 non-null    object
 16  engine-size        201 non-null    int64
 17  fuel-system        201 non-null    object
 18  bore               201 non-null    float64
 19  stroke             201 non-null    float64
 20  compression-ratio  201 non-null    float64
 21  horsepower         201 non-null    float64
 22  peak-rpm           199 non-null    float64
 23  price              201 non-null    float64
 24  city-L/100km       201 non-null    float64
 25  highway-L/100km    201 non-null    float64
dtypes: float64(13), int64(3), object(10)
memory usage: 41.0+ KB

In [115]:
df["fuel-type"].value_counts()

fuel-type
gas       181
diesel     20
Name: count, dtype: int64

In [116]:
df.to_csv('Car_cleaned-data.csv')

In [117]:
df["horsepower"].describe()

count    201.000000
mean     103.405534
std       37.365700
min       48.000000
25%       70.000000
50%       95.000000
75%      116.000000
max      262.000000
Name: horsepower, dtype: float64

In [118]:
bins = np.linspace(min(df["horsepower"]), max(df["horsepower"]), 4)
bins

array([ 48.        , 119.33333333, 190.66666667, 262.        ])

In [119]:
group_names = ['Low', 'Medium', 'High']
df['horsepower-binned'] = pd.cut(df['horsepower'], bins, labels=group_names, include_lowest=True )
df[['horsepower','horsepower-binned']].head()

   horsepower horsepower-binned
0       111.0               Low
1       111.0               Low
2       154.0            Medium
3       102.0               Low
4       115.0               Low

In [120]:
df["horsepower-binned"].value_counts()

horsepower-binned
Low       153
Medium     43
High        5
Name: count, dtype: int64

In [121]:
df["fuel-type"].value_counts()

fuel-type
gas       181
diesel     20
Name: count, dtype: int64

In [122]:
dummy_variable_1 = pd.get_dummies(df["fuel-type"])
dummy_variable_1.dtypes

diesel    bool
gas       bool
dtype: object

In [123]:
dummy_variable_1.head()

   diesel   gas
0   False  True
1   False  True
2   False  True
3   False  True
4   False  True

In [124]:
dummy_variable_1["diesel"]

0      False
1      False
2      False
3      False
4      False
       ...
196    False
197    False
198    False
199     True
200    False
Name: diesel, Length: 201, dtype: bool

In [125]:
dummy_variable_1.rename(columns={'gas':'fuel-type-gas', 'diesel':'fuel-type-diesel'}, inplace=True)
dummy_variable_1.head()

   fuel-type-diesel  fuel-type-gas
0             False           True
1             False           True
2             False           True
3             False           True
4             False           True

In [126]:
df = pd.concat([df, dummy_variable_1], axis=1)
df.drop("fuel-type", axis = 1, inplace=True)
df.head()

,symboling,normalized-losses,make,aspiration,doors,body-style,drive-wheels,engine-location,wheel-base,length,...,stroke,compression-ratio,horsepower,peak-rpm,price,city-L/100km,highway-L/100km,horsepower-binned,fuel-type-diesel,fuel-type-gas
0,3,122.0,alfa-romero,std,two,convertible,rwd,front,88.6,168.8,...,2.68,9.0,111.0,5000.0,13495.0,11.190476,8.703704,Low,False,True
1,3,122.0,alfa-romero,std,two,convertible,rwd,front,88.6,168.8,...,2.68,9.0,111.0,5000.0,16500.0,11.190476,8.703704,Low,False,True
2,1,122.0,alfa-romero,std,two,hatchback,rwd,front,94.5,171.2,...,3.47,9.0,154.0,5000.0,16500.0,12.368421,9.038462,Medium,False,True
3,2,164.0,audi,std,four,sedan,fwd,front,99.8,176.6,...,3.40,10.0,102.0,5500.0,13950.0,9.791667,7.833333,Low,False,True
4,2,164.0,audi,std,four,sedan,4wd,front,99.4,176.6,...,3.40,8.0,115.0,5500.0,17450.0,13.055556,10.681818,Low,False,True

In [127]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          201 non-null    int64
 1   normalized-losses  201 non-null    float64
 2   make               201 non-null    object
 3   aspiration         201 non-null    object
 4   doors              201 non-null    object
 5   body-style         201 non-null    object
 6   drive-wheels       201 non-null    object
 7   engine-location    201 non-null    object
 8   wheel-base         201 non-null    float64
 9   length             201 non-null    float64
 10  width              201 non-null    float64
 11  height             201 non-null    float64
 12  curb-weight        201 non-null    int64
 13  engine-type        201 non-null    object
 14  num-of-cylinders   201 non-null    object
 15  engine-size        201 non-null    int64
 16  fuel-system        201 non-null    object
 17  bore               201 non-null    float64
 18  stroke             201 non-null    float64
 19  compression-ratio  201 non-null    float64
 20  horsepower         201 non-null    float64
 21  peak-rpm           199 non-null    float64
 22  price              201 non-null    float64
 23  city-L/100km       201 non-null    float64
 24  highway-L/100km    201 non-null    float64
 25  horsepower-binned  201 non-null    category
 26  fuel-type-diesel   201 non-null    bool
 27  fuel-type-gas      201 non-null    bool
dtypes: bool(2), category(1), float64(13), int64(3), object(9)
memory usage: 40.1+ KB

In [128]:
df.shape

(201, 28)

In [131]:
df.isna().sum()

symboling            0
normalized-losses    0
make                 0
aspiration           0
doors                0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             2
price                0
city-L/100km         0
highway-L/100km      0
horsepower-binned    0
fuel-type-diesel     0
fuel-type-gas        0
dtype: int64

In [132]:
df.to_csv('complete_cleaned_data.csv')

In [133]:
import matplotlib.pyplot as plt

In [ ]:
x=df["city-L/100km"]
y=df["price"]
plt.plot(x,y,marker='*')
plt.xlabel('city-L/100km')
plt.ylabel('price')

plt.title("city-L/100km vs Price ")